<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.music.aman.musicg">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <activity
            android:name=".Activity_Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"></activity>

        <service android:name=".RunnerService"></service>

        <activity android:name=".Activity_Dialog_Found"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">

        </activity>
    </application>

</manifest>
